@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.buttonStyles{
    color: white;
    background-color: #25A0E5;

    border: 4px solid #25A0E5 !important;
    box-shadow: 2px 2px #74bee6;

    font: bold italic;
    font-family: "Inter", sans-serif;
    font-weight: bold;

    
}