@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.main {
        min-height: 75vh
}

.inputStyle {
        border: 4px solid #25A0E5 !important;
        box-shadow: 2px 2px #74bee6;
}

.radioStyle {
        color: #25A0E5 !important;
        font: bold italic;
        font-family: "Inter", sans-serif;
        font-weight: bold;
}

// #input:disabled { 
//         background-color: #74bee6 !important;
// }

